body{
	background:#EEEEEE;
	font-family:verdana;
	color:#666666;
}

.quadro{
	background:white;
	width:400px;
	margin:40 auto;
}

.form{
	width:200px;
	margin:0 60;
}
label{
	color:#888888;
	weight:bold;
}

.btn{
	font-size:14px;
}