<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="FILE_CHURCH_LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/sulamerica/bu/saude/log/intra/workflowcap/workflowcap_${WAS_SERVER_NAME}.log" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %t %d{dd-MM-yyyy HH:mm:ss} %c %M - %m%n" />
		</layout>
	</appender>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %t %d{dd-MM-yyyy HH:mm:ss} %c %M - %m%n" />
		</layout>
	</appender>


	<!-- ROOT LOGGER -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</root>

</log4j:configuration>